[submodule "prosody"]
	path = prosody
	url = https://github.com/prose-im/prosody.git
[submodule "plugins/prose/mod_admin_rest"]
	path = plugins/prose/mod_admin_rest
	url = https://github.com/RemiBardon/prosody-mod_admin_rest.git